<?xml version="1.0" encoding="utf-8"?> 
<!-- JNLP File for Root Histogram Browser--> 
<jnlp 
  spec="1.0" 
  codebase="http://java.freehep.org/freehep-roothistogrambrowser" 
  href="$outputFile"
  version ="2.0-SNAPSHOT"> 
  <information> 
    <title>Root Histogram Browser</title> 
    <vendor>FreeHEP</vendor> 
    <homepage href="freehep-roothistogrambrowser/index.html"/> 
    <description>FreeHEP Root Histogram Browser</description> 
    <description kind="short">A program for browsing histograms in a Root file.</description>
    <offline-allowed/> 
  </information>
  <security> 
    <all-permissions/> 
  </security> 
  <resources> 
    <j2se version="1.4+"/> 
    $dependencies
  </resources> 
  <application-desc main-class="$mainClass"/> 
</jnlp> 
