<?xml version="1.0" encoding="utf-8"?> 
<!-- JNLP File for Icon Browser--> 
<jnlp 
  spec="1.0" 
  codebase="http://java.freehep.org/freehep-iconbrowser" 
  href="$outputFile"
  version ="2.3-SNAPSHOT"> 
  <information> 
    <title>Icon Browser</title> 
    <vendor>FreeHEP</vendor> 
    <homepage href="freehep-iconbrowser/index.html"/> 
    <description>FreeHEP Icon Browser</description> 
    <description kind="short">A program for browsing icons in jar or zip files.</description>
    <icon href="IconBrowser.gif"/> 
    <offline-allowed/> 
  </information> 
  <resources>
    <j2se version="1.4+"/>
    <jar href="ZipAnotate.jar"/>
    <jar href="JFAIcons.jar"/>
    <jar href="IconBrowserHelp.jar" download="lazy" part="help"/>
	<jar href="freehep-iconbrowser-2.3-SNAPSHOT.jar" main="true"/>
	<jar href="freehep-util-2.0.1.jar"/>
	<jar href="jlfgr-1.0.jar"/>
	<jar href="freehep-application-2.0.jar"/>
	<jar href="freehep-commandline-2.0.jar"/>
	<jar href="javahelp-2.0.02.jar" download="lazy" part="help"/>
	<jar href="freehep-xml-2.0.jar"/>
	<jar href="freehep-swing-2.0.jar"/>
	<jar href="openide-lookup-1.9-patched-1.0.jar"/>
	<jar href="freehep-export-2.0.3.jar"/>
	<jar href="freehep-commanddispatcher-2.0.jar"/>
	<jar href="freehep-graphics2d-2.0.jar" download="lazy" part="graphicsio"/>
	<jar href="junit-3.8.2.jar"/>
	<jar href="jdom-1.0.jar"/>
	<jar href="freehep-graphicsio-2.0.jar" download="lazy" part="graphicsio"/>
	<jar href="freehep-io-2.0.1.jar"/>
    <property name="jnlp.org.freehep.application.ServiceManager" value="org.freehep.application.services.jnlp.JNLPServiceManager"/>
  </resources> 
  <application-desc main-class="$mainClass"/> 
</jnlp> 